<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Vue3 CDN -->
  <script src="https://unpkg.com/vue@next"></script>

  <!-- Axios CDN -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <!-- TailWinds CSS Stylesheet -->
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

  <style scoped>
    [v-cloak] {
      display: none;
    }
  </style>

  <title>Vue: Random user API</title>
</head>
<body>
  <noscript>
    <h3>Sorry, this page requires JavaScript to be enabled to function.</h3>
    <p>Please enable JavaScript or use a different browser with JS enabled.</p>
  </noscript>

  <section class="container max-w-screen-sm mx-auto px-3 my-5 text-gray-500">

    <header class="my-3 border-b pb-3">
      <h1 class="text-3xl">Random user API</h1>
      <p class="text-gray-400 my-1">A small Vue app that calls the <a href="https://randomuser.me" target="_blank" rel="noopener" class="underline">random user api</a> to populate the card below. Styled with tailwindcss.</p>
    </header>

    <article v-cloak id="randomUserDetails">

      <div v-if="loading" class="my-10 p-3 rounded shadow-xl w-full h-64 md:h-32 flex items-center">
        <h3 class="text-xl">Loading user details...</h3>
      </div>

      <div v-else-if="!loading && error.isError == true" class="my-10 p-3 rounded shadow-xl w-full h-64 md:h-32 flex items-center">
        <h3 class="text-xl">{{ error.message }}</h3>
      </div>

      <div v-else class="mt-5 my-10 p-3 rounded shadow-xl inline-flex flex-wrap w-full md:space-x-4 md:my-10">

        <img :src="userImage" :alt="`${firstName} ${lastName}'s profile image`" class="rounded shadow flex-initial mr-3 mb-3 md:mb-0 md:mr-0 "/>

        <div class="flex-1">
          <h3 class="mb-1 text-2xl">{{ fullname }}</h3>

          <p class="mb-1">{{ country }}</p>
          <p class="mb-2"><a :href="`mailto:${email}`" class="underline">{{ email }}</a></p>
        </div>
      </div>

      <button
        class="transition-all duration-300 shadow-none bg-green-300 mb-6 p-3 border-1 rounded-sm text-green-800 hover:bg-green-400 hover:shadow-lg w-full inline-block md:block md:w-auto md:ml-auto "
        :class="loading ? 'opacity-50 pointer-events-none' : ''"
        @click="getUser"
      >Load random user details</button>

    </article>

    <hr />

    <footer class="my-3">
      <p class="text-sm text-right text-gray-400">Powered by <a href="https://v3.vuejs.org" rel="noopener" class="underline" >Vue3</a>, <a href="https://randomuser.me" rel="noopener" class="underline" >Random User API</a> and <a href="https://axios-http.com/" rel="noopener" class="underline" >Axios</a>. <a href="https://bitbucket.org/scriptedpixels/vue-random-user-api/src/main/" target="_blank" rel="noopener" class="underline">View Source code</a> 🤓</p>
    </footer>

  </section>

  <script src="randomUser.js" defer></script>

</body>
</html>